* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto";
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;


}

.itm1-1 {
    display: flex;
    width: 80px;
    margin-top: 100px;
    margin-left: 80px;
}

.itm1-1 img {
    width: 150px;
    height: 80px;
}

.f-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 30px;
}

.f-div h3 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #444444;
}

.input-box {
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.input-box input {
    width: 90%;
    border: none;
    padding: 18px;
    outline: none;
}

.input-box:hover {
    border: 1px solid #35aa47;
    outline: none;
}

i {
    border: none;
    color: grey;
}

button {
    background: #35aa47;
    color: #ffffff;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #444444;
}

.f-pass {
    cursor: pointer;
    text-decoration: none;
    color: #444444;
}

.f-pass:hover {
    text-decoration: underline;
}

.f-pass a {
    text-decoration: none;
    color: #444444;
    font-size: 12px;
}

.itm2 img {
    height: 100%;
    width: 100%;
}

@media (max-width:600px) {
    .grid {
        grid-template-columns: 1fr;
        margin-top: 10px;
    }
}