*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rubik";
    /* background-color: #f5f7fa; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; 
    background-color: rgba(241, 243, 246, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
}

.left-div{
    display: flex;
    gap: 30px;
    background: none;
    
}

h3{
    margin: 0;
    cursor: pointer;
}

h3 i{
    color: #00a2ff;
}


nav ul{
    margin: 0;
    display: flex;
    gap: 30px;
    align-items: center;
}

nav li{
    list-style: none;
    font-weight: bold;
}

nav li:hover{
    color: #00a2ff;
    cursor: pointer;
}

.right-div{
    display: flex;
    gap: 20px;
    align-items: center;
}

.login-btn{
    background: none;
    border: none;
    font-weight: bolder;
    transition: transform 0.5s ease;
}

.login-btn:hover{
    cursor: pointer;
    color: #00a2ff;
    transform: scale(1.1);
}

.demo-btn{
    background: none;
    padding: 10px;
    border: 3px solid #fc5b1a;
    border-radius: 15px;
    color: #fc5b1a;
    font-weight: bolder;
    box-shadow: 0 10px 10px rgb(174, 174, 174);
    transition: transform 0.5s ease;
}

.demo-btn:hover{
    background: #fc5b1a;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.signup-btn{
    background: #00a2ff;
    padding: 10px;
    border: 3px solid #00a2ff;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    transition: transform 0.5s ease;
}

.signup-btn:hover{
    background: white;
    color: #00a2ff;
    cursor: pointer;
    transform: scale(1.1);
}

.fir-txt{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

span{
    color: #00a2ff;
    font-weight: 600;
    font-size: 34px;
}


.main1{
    background-color: #33c9ff;
    margin-top: 82px;
    width: 100%;
}

.cont-0{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 30px;
}

.item01 h1{
    margin-top: 20px;
    color: #000;
    font-size: 45px;
    font-weight: 600;
}

.item01 p{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.item01 button{
    padding: 15px 25px;
    margin: 30px;
    border: 3px solid #dacd12;
    border-radius: 20px;
    background-color: #e3d500;
    color: #000;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.item01 button:hover{
    color: #fff;
    background-color: #00a2ff;
    border: 3px solid #178acc;
}

.item01-1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.item01-1 img{
    width: 60px;
}

.item01-1 h3{
    font-size: 16px;
    font-weight: 500;
}

.main1 h3{
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #000;
}

.partners{
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
}


.cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px ;
    margin: 0 auto;
    margin-top: 100px;
}

.item1{
    width: 100%;
}

.item2{
    display: flex;
    flex-direction: column;
}

.newsletters{
    width: 350px;
    /* font-size: 16px;
    font-weight: 400; */
}

.automation{
    width: 400px;
}

.landing{
    width: 306px;
}

.item2 button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 16px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;  
    width: fit-content;
}

.item2 button:hover{
    background-color: #00a2ff;
    cursor: pointer;
    border: 2px solid #138ed5;
}



.item2 i{
    background: none;
}

h2{
    font-weight: 600;
    font-size: 34px;
}


.menu{
    font-size: 30px;
    border: none;
    background: none;
    display: none;
}

hr{
    border: 1.5px solid black;
    margin: 50px 0;
    width: 100%;
}

.footer1{
    display: flex;
    margin: 60px 40px;
}

.footer1 div{
    flex: 1;
    justify-content: center;
    align-items: center;
}

.footer1 li{
    margin: 15px 0;
    list-style: none;
}

.footer1 li:hover{
    cursor: pointer;
    color: #00a2ff;
}

.topblog{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    width: 400px;
}


.topblog img{
    border-radius: 15px;
}

.topblog1{
    display: flex;
    gap: 20px;
}

.topblog1:hover{
    cursor: pointer;
    color: #00a2ff;
}

.topblog2{
    display: flex;
    gap: 20px;
}

.topblog2:hover{
    cursor: pointer;
    color: #00a2ff;
}

.topblog3{
    display: flex;
    gap: 20px;
}

.topblog3:hover{
    cursor: pointer;
    color: #00a2ff;
}

.ptopblog{
    color: #33c9ff;
    font-weight: 500;
}

.ptopblog:hover{
    cursor: pointer;
    color: #00a2ff;
}




@media (max-width:600px) {
    nav li{
        display: none;
    }

    .right-div{
        display: none;
    }

    .main1{
        width: fit-content;
    }

    .cont-0{
        grid-template-columns: 1fr;
    }

    .item01-1{
        display: none;
    }

    hr{
        width: 820px;
        margin-left: 5px;
        margin-right: 5px;

    }

    .cont{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
    }

    .item2{
        margin: 0 auto;
    }

    .menu{
        display: block;
    }

    .footer1{
        flex-direction: column;
        gap: 30px;
    }
    
}
